<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="approvalMapper">
	<resultMap type="Approval" id="approvalResult">
		<id column="approval_no" property="approvalNo"/>
		<result column="user_name" property="userName"/>
		<result column="user_no" property="userNo"/>
		<result column="department_name" property="department"/>
		<result column="position_name" property="position"/>
		<result column="form" property="form"/>
		<result column="title" property="title"/>
		<result column="origin_name" property="originName"/>
		<result column="approval_status" property="approvalStatus"/>
		<result column="current_order" property="currentOrder"/>
		<result column="final_order" property="finalOrder"/>
		<result column="create_date" property="createDate"/>
		<result column="complete_date" property="completeDate"/>
		<result column="complete_no" property="completeNo"/>
		<result column="bookmark" property="bookmark"/>
	</resultMap>
	
	<resultMap type="AppDetail" id="draftResult">
		<id column="app_no" property="approvalNo"/>
		<association property="app" resultMap="approvalResult"/>
		<association property="draft" javaType="FormDraft">
			<id column="form_no" property="formNo"/>
			<result column="effective_date" property="effectiveDate"/>
			<result column="form_dep_name" property="departmentNo"/>
			<result column="content" property="content"/>
		</association>
		<collection property="process" ofType="AppProcess">
			<result column="pro_user_name" property="userName"/>
			<result column="pro_department_name" property="departmentName"/>
			<result column="pro_position_name" property="positionName"/>
			<result column="process_order" property="processOrder"/>
			<result column="approval_role" property="approvalRole"/>
			<result column="pro_status" property="status"/>
			<result column="approval_date" property="approvalDate"/>
			<result column="pro_bookmark" property="bookmark"/>
		</collection>
		<collection property="att" ofType="Attachment">
			<id column="attachment_no" property="attachmentNo"/>
			<result column="at_origin_name" property="originName"/>
			<result column="change_name" property="changeName"/>
		</collection>
	</resultMap>
	
	<resultMap type="AppDetail" id="transferResult">
		<id column="app_no" property="approvalNo"/>
		<association property="app" resultMap="approvalResult"/>
		<collection property="transfer" ofType="FormTransfer">
			<id column="form_no" property="formNo"/>
			<result column="effective_date" property="effectiveDate"/>
			<result column="form_user_name" property="userName"/>
			<result column="form_dept_name" property="departmentName"/>
			<result column="current_position" property="currentPosition"/>
			<result column="promote_position" property="promotePosition"/>
			<result column="remark" property="remark"/>
		</collection>
		<collection property="process" ofType="AppProcess">
			<result column="pro_user_name" property="userName"/>
			<result column="pro_department_name" property="departmentName"/>
			<result column="pro_position_name" property="positionName"/>
			<result column="process_order" property="processOrder"/>
			<result column="approval_role" property="approvalRole"/>
			<result column="pro_status" property="status"/>
			<result column="approval_date" property="approvalDate"/>
			<result column="pro_bookmark" property="bookmark"/>
		</collection>
		<collection property="att" ofType="Attachment">
			<id column="attachment_no" property="attachmentNo"/>
			<result column="at_origin_name" property="originName"/>
			<result column="change_name" property="changeName"/>
		</collection>
	</resultMap>
	
	<resultMap type="AppDetail" id="consumeResult">
		<id column="app_no" property="approvalNo"/>
		<association property="app" resultMap="approvalResult"/>
		<collection property="consume" ofType="FormConsume">
			<id column="form_no" property="formNo"/>
			<result column="name" property="name"/>
			<result column="reason" property="reason"/>
			<result column="unit" property="unit"/>
			<result column="count" property="count"/>
			<result column="price" property="price"/>
		</collection>
		<collection property="process" ofType="AppProcess">
			<result column="pro_user_name" property="userName"/>
			<result column="pro_department_name" property="departmentName"/>
			<result column="pro_position_name" property="positionName"/>
			<result column="process_order" property="processOrder"/>
			<result column="approval_role" property="approvalRole"/>
			<result column="pro_status" property="status"/>
			<result column="approval_date" property="approvalDate"/>
			<result column="pro_bookmark" property="bookmark"/>
		</collection>
		<collection property="att" ofType="Attachment">
			<id column="attachment_no" property="attachmentNo"/>
			<result column="at_origin_name" property="originName"/>
			<result column="change_name" property="changeName"/>
		</collection>
	</resultMap>
	
	<resultMap type="AppDetail" id="cashResult">
		<id column="app_no" property="approvalNo"/>
		<association property="app" resultMap="approvalResult"/>
		<collection property="cash" ofType="FormCash">
			<id column="form_no" property="formNo"/>
			<result column="account" property="account"/>
			<result column="user_history" property="userHistory"/>
			<result column="price" property="price"/>
		</collection>
		<collection property="process" ofType="AppProcess">
			<result column="pro_user_name" property="userName"/>
			<result column="pro_department_name" property="departmentName"/>
			<result column="pro_position_name" property="positionName"/>
			<result column="process_order" property="processOrder"/>
			<result column="approval_role" property="approvalRole"/>
			<result column="pro_status" property="status"/>
			<result column="approval_date" property="approvalDate"/>
			<result column="pro_bookmark" property="bookmark"/>
		</collection>
		<collection property="att" ofType="Attachment">
			<id column="attachment_no" property="attachmentNo"/>
			<result column="at_origin_name" property="originName"/>
			<result column="change_name" property="changeName"/>
		</collection>
	</resultMap>
	
	<resultMap type="AppChange" id="appChangeResult">
		<id column="change_no" property="changeNo"/>
		<result column="user_name" property="userName"/>
		<result column="department_name" property="departmentName"/>
		<result column="position_name" property="positionName"/>
		<result column="content" property="content"/>
		<result column="create_date" property="createDate"/>
		<result column="role" property="role"/>
	</resultMap>
	
	<select id="selectListCount" resultType="_int">
		select count(*)
		  from app_process ap <!-- app_process(결재선)이 기준 -->
		  join approval a using(approval_no)
		<where>
			<if test="dpi == 0 and dpe == 0">
				ap.user_no = #{userNo}
			</if>
			<if test="dpi != 0 or dpe != 0">
				ap.user_no in (
		                       select user_no
		                         from member
		                        where department = #{department} <!-- 나의 부서에 포함된 부서원 조회 -->
		                      )
			</if>
			<if test="myi != 0 or dpi != 0">
				and process_order <![CDATA[<=]]> current_order + 1 <!-- 결재 진행상황 상 현재 순서보다 먼저이거나 같을때만 보여줘야 함 -->
				and approval_status in ('대기', '진행중')
			</if>
			<if test="agr != 0">
				and process_order = current_order + 1 <!-- 결재자의 순서가 본인일 경우 -->
				and approval_status in ('대기', '진행중')
			</if>
			<if test="mye != 0 or dpe != 0">
				and process_order <![CDATA[<=]]> current_order + 1 <!-- 결재 진행상황 상 현재 순서보다 먼저이거나 같을때만 보여줘야 함 -->
				and approval_status in ('승인', '반려')
			</if>
			<if test="myi != 0 or mye != 0 or agr != 0">
				and approval_role != '참조'
			</if>
			<if test="myr != 0">
				and approval_role = '참조'
				and approval_status != '임시저장'
			</if>
			<if test="myb != 0">
				and bookmark = 'Y'
				and approval_status != '임시저장'
			</if>
		</where>
			and a.status = 'Y'
	</select>
	
	<select id="selectList" resultMap="approvalResult">
		select
		       approval_no
		     , user_name
		     , form
		     , title
		     , (
		        select origin_name <!-- 첨부파일의 유무만 보여주는 용도이므로 다중일 경우를 대비하여 하나만 가져오기 위함 -->
		          from attachment
		         where approval_no = ref_no
		           and category_no = 1
                   and rownum = 1
		       ) origin_name
		     , approval_status
		     , current_order
		     , final_order
		     , create_date
		     , complete_date
		     , complete_no
		     , bookmark
		  from app_process ap <!-- app_process(결재선)이 기준 -->
		  join approval a using(approval_no)
		  join member m on (a.user_no = m.user_no)
		<where>
			<if test="dpi == 0">
				ap.user_no = #{userNo}
			</if>
			<if test="dpi != 0">
				ap.user_no in (
		                       select user_no
		                         from member
		                        where department = #{department} <!-- 나의 부서에 포함된 부서원 조회 -->
		                      )
			</if>
			<if test="myi != 0 or dpi != 0">
				and process_order <![CDATA[<=]]> current_order + 1 <!-- 결재 진행상황 상 현재 순서보다 먼저이거나 같을때만 보여줘야 함 -->
				and approval_status in ('대기', '진행중')
			</if>
			<if test="agr != 0">
				and process_order = current_order + 1 <!-- 결재자의 순서가 본인일 경우 -->
				and approval_status in ('대기', '진행중')
			</if>
			<if test="myi != 0 or agr != 0">
				and approval_role != '참조'
			</if>
			<if test="myr != 0">
				and approval_role = '참조'
				and approval_status != '임시저장'
			</if>
			<if test="myb != 0">
				and bookmark = 'Y'
				and approval_status != '임시저장'
			</if>
		</where>
			and a.status = 'Y'
		 order
		    by approval_no desc
	</select>

	<select id="selectEdList" resultMap="approvalResult">
		select
		       approval_no
		     , user_name
		     , form
		     , title
		     , (
		        select origin_name <!-- 첨부파일의 유무만 보여주는 용도이므로 다중일 경우를 대비하여 하나만 가져오기 위함 -->
		          from attachment
		         where approval_no = ref_no
		           and category_no = 1
                   and rownum = 1
		       ) origin_name
		     , approval_status
		     , current_order
		     , final_order
		     , create_date
		     , complete_date
		     , complete_no
		     , bookmark
		  from app_process ap <!-- app_process(결재선)이 기준 -->
		  join approval a using(approval_no)
		  join member m on (a.user_no = m.user_no)
		<where>
			<if test="dpe == 0">
				ap.user_no = #{userNo}
				and approval_role != '참조'
			</if>
			<if test="dpe != 0">
				ap.user_no in (
		                       select user_no
		                         from member
		                        where department = #{department} <!-- 나의 부서에 포함된 부서원 조회 -->
		                      )
			</if>
		</where>
			and approval_status in ('승인', '반려')
			and process_order <![CDATA[<=]]> current_order + 1 <!-- 결재 진행상황 상 현재 순서보다 먼저이거나 같을때만 보여줘야 함 -->
			and a.status = 'Y'
		 order
		    by complete_date desc, complete_no desc
	</select>
	
	<select id="selectTemListCount" resultType="_int">
		select count(*)
		  from approval
		 where user_no = #{userNo}
		   and approval_status = '임시저장'
		   and status = 'Y'
	</select>
	
	<select id="selectTemList" resultMap="approvalResult">
		select
		       approval_no
		     , user_name
		     , form
		     , title
		     , (
		        select origin_name <!-- 첨부파일의 유무만 보여주는 용도이므로 다중일 경우를 대비하여 하나만 가져오기 위함 -->
		          from attachment
		         where approval_no = ref_no
		           and category_no = 1
                   and rownum = 1
		       ) origin_name
		     , approval_status
		     , create_date
		  from approval a
		  join member using(user_no)
		 where user_no = #{userNo}
		   and approval_status = '임시저장'
		   and a.status = 'Y'
		 order
		    by approval_no desc
	</select>
	
	<select id="selectMaListCount" resultType="_int">
		select count(*)
		  from approval
		<where>
			<if test="a != 0">
				status = 'Y'
			</if>
			<if test="d != 0">
				status = 'N'
			</if>
		</where>
			and approval_status != '임시저장'
	</select>
	
	<select id="selectMaList" resultMap="approvalResult">
		select
		       approval_no
		     , department_name
		     , user_name
		     , form
		     , title
		     , (
		        select origin_name <!-- 첨부파일의 유무만 보여주는 용도이므로 다중일 경우를 대비하여 하나만 가져오기 위함 -->
		          from attachment
		         where approval_no = ref_no
		           and category_no = 1
                   and rownum = 1
		       ) origin_name
		     , approval_status
		     , current_order
		     , final_order
		     , create_date
		     , complete_date
		     , complete_no
		  from approval a
		  join member m using(user_no)
          join dept d on (m.department = d.department_no)
		<where>
			<if test="a != 0">
				a.status = 'Y'
			</if>
			<if test="d != 0">
				a.status = 'N'
			</if>
		</where>
			and approval_status != '임시저장'
		 order
		    by approval_no desc
	</select>
	
	<update id="updateBook">
		update
	       app_process
		<set>
	  		<if test="bookmark == 0">
	  			bookmark = 'Y'
	  		</if>
	  		<if test="bookmark == 1">
	  			bookmark = 'N'
	  		</if>
		</set>
	 where approval_no = #{approvalNo}
	   and user_no = #{userName}
	</update>
	
	<update id="deleteApproval">
		update
		       approval
		   set status = 'N'
		 where approval_no in
			<foreach collection="array" item="no" separator="," open="(" close=")">
            	#{no}
			</foreach>
	</update>
	
	<!-- <delete id=removeApproval">
		
	</delete> -->
	
	<update id="recoverApproval">
		update
		       approval
		   set status = 'Y'
		 where approval_no in
			<foreach collection="array" item="no" separator="," open="(" close=")">
            	#{no}
			</foreach>
	</update>
	
	<select id="selectDraftApp" resultMap="draftResult">
		select
		       approval_no app_no
		     , complete_no
		     , am.user_no
		     , am.user_name
		     , md.department_name
		     , mp.position_name
		     , form
		     , title
		     , to_char(to_date(create_date, 'YY/MM/DD'), 'YYYY-MM-DD') create_date
		     , to_char(to_date(complete_date, 'YY/MM/DD'), 'YYYY-MM-DD') complete_date
		     , current_order
		     , final_order
		     , approval_status
		     
		     , form_no
		     , effective_date
		     , fd.department_name form_dep_name
		     , content
		     
		     , pm.user_name pro_user_name
		     , pd.department_name pro_department_name
             , pp.position_name pro_position_name
             , process_order
		     , approval_role
		     , p.status pro_status
		     , to_char(to_date(approval_date, 'YY/MM/DD'), 'YYYY-MM-DD') approval_date
		     , bookmark pro_bookmark
		     
		     , attachment_no
		     , origin_name at_origin_name
		     , change_name
		     
		  from approval a
		  
		  join member am on (a.user_no = am.user_no)
          join dept md on (am.department = md.department_no)
		  join position mp on (am.position = mp.position_no)
		  
		  join form_draft f using(approval_no)
		  join dept fd on (f.department_no = fd.department_no)
		  
		  left
		  join app_process p using(approval_no)
		  join member pm on (p.user_no = pm.user_no)
		  join dept pd on (pm.department = pd.department_no)
          join position pp on (pm.position = pp.position_no)
		  
		  left
		  join attachment on (category_no = 1 and approval_no = ref_no)
		  
		 where approval_no = #{approvalNo}
         order
            by process_order
	</select>
	
	<select id="selectTransferApp" resultMap="transferResult">
		select
		       approval_no app_no
		     , complete_no
		     , am.user_no
		     , am.user_name
		     , md.department_name
		     , mp.position_name
		     , form
		     , title
		     , to_char(to_date(create_date, 'YY/MM/DD'), 'YYYY-MM-DD') create_date
		     , to_char(to_date(complete_date, 'YY/MM/DD'), 'YYYY-MM-DD') complete_date
		     , current_order
		     , final_order
		     , approval_status
		     
		     , form_no
		     , effective_date
		     , f.user_name form_user_name
		     , f.department_name form_dept_name
		     , current_position
		     , promote_position
		     , remark
		     
		     , pm.user_name pro_user_name
		     , pd.department_name pro_department_name
             , pp.position_name pro_position_name
             , process_order
		     , approval_role
		     , p.status pro_status
		     , to_char(to_date(approval_date, 'YY/MM/DD'), 'YYYY-MM-DD') approval_date
		     , bookmark pro_bookmark
		     
		     , attachment_no
		     , origin_name at_origin_name
		     , change_name
		     
		  from approval a
		  
		  join member am on (a.user_no = am.user_no)
          join dept md on (am.department = md.department_no)
		  join position mp on (am.position = mp.position_no)
		  
		  left
		  join form_transfer f using(approval_no)
		  
		  left
		  join app_process p using(approval_no)
		  join member pm on (p.user_no = pm.user_no)
          join dept pd on (pm.department = pd.department_no)
          join position pp on (pm.position = pp.position_no)
		  
		  left
		  join attachment on (category_no = 1 and approval_no = ref_no)
		  
		 where approval_no = #{approvalNo}
         order
            by form_no, process_order
	</select>
	
	<select id="selectConsumeApp" resultMap="consumeResult">
		select
		       approval_no app_no
		     , complete_no
		     , am.user_no
		     , am.user_name
		     , md.department_name
		     , mp.position_name
		     , form
		     , title
		     , to_char(to_date(create_date, 'YY/MM/DD'), 'YYYY-MM-DD') create_date
		     , to_char(to_date(complete_date, 'YY/MM/DD'), 'YYYY-MM-DD') complete_date
		     , current_order
		     , final_order
		     , approval_status
		     
		     , form_no
		     , name
		     , reason
		     , unit
		     , count
		     , price
		     
		     , pm.user_name pro_user_name
             , pd.department_name pro_department_name
             , pp.position_name pro_position_name
             , process_order
		     , approval_role
		     , p.status pro_status
		     , to_char(to_date(approval_date, 'YY/MM/DD'), 'YYYY-MM-DD') approval_date
		     , bookmark pro_bookmark
		     
		     , attachment_no
		     , origin_name at_origin_name
		     , change_name
		     
		  from approval a
		  
		  join member am on (a.user_no = am.user_no)
          join dept md on (am.department = md.department_no)
		  join position mp on (am.position = mp.position_no)
		  
		  left
		  join form_consume f using(approval_no)
		  
		  left
		  join app_process p using(approval_no)
		  join member pm on (p.user_no = pm.user_no)
          join dept pd on (pm.department = pd.department_no)
          join position pp on (pm.position = pp.position_no)
		  
		  left
		  join attachment on (category_no = 1 and approval_no = ref_no)
		  
		 where approval_no = #{approvalNo}
         order
            by form_no, process_order
	</select>
	
	<select id="selectCashApp" resultMap="cashResult">
		select
		       approval_no app_no
		     , complete_no
		     , am.user_no
		     , am.user_name
		     , md.department_name
		     , mp.position_name
		     , form
		     , title
		     , to_char(to_date(create_date, 'YY/MM/DD'), 'YYYY-MM-DD') create_date
		     , to_char(to_date(complete_date, 'YY/MM/DD'), 'YYYY-MM-DD') complete_date
		     , current_order
		     , final_order
		     , approval_status
		     
		     , form_no
		     , account
		     , user_history
		     , price
		     
		     , pm.user_name pro_user_name
     		 , pd.department_name pro_department_name
     		 , pp.position_name pro_position_name
		     , process_order
		     , approval_role
		     , p.status pro_status
		     , to_char(to_date(approval_date, 'YY/MM/DD'), 'YYYY-MM-DD') approval_date
		     , bookmark pro_bookmark
		     
		     , attachment_no
		     , origin_name at_origin_name
		     , change_name
		     
		  from approval a
		  
		  join member am on (a.user_no = am.user_no)
          join dept md on (am.department = md.department_no)
		  join position mp on (am.position = mp.position_no)
		  
		  left
		  join form_cash f using(approval_no)
		  
		  left
		  join app_process p using(approval_no)
		  join member pm on (p.user_no = pm.user_no)
          join dept pd on (pm.department = pd.department_no)
          join position pp on (pm.position = pp.position_no)
		  
		  left
		  join attachment on (category_no = 1 and approval_no = ref_no)
		  
		 where approval_no = #{approvalNo}
         order
            by form_no, process_order
	</select>
	
	<select id="selectChange" resultMap="appChangeResult">
		select
		       change_no
		     , user_name
		     , department_name
		     , position_name
		     , content
		     , to_char(to_date(create_date, 'YY/MM/DD'), 'YYYY-MM-DD') create_date
		     , role
		  from app_change ac
		  join member using(user_no)
		  join dept on (department = department_no)
		  join position on (position = position_no)
		 where approval_no = #{approvalNo}
           and ac.status = 'Y'
         order
            by change_no
	</select>
	
	<update id="updateProcess">
		update
		       app_process
		   set status = #{status}
		     , approval_date = sysdate
		 where approval_no = #{approvalNo}
		   and user_no = #{userName}
	</update>
	
	<update id="updateCurrentOrder">
		update
			   approval
		<set>
			<choose>
		  		<when test="approvalStatus == '반려'">
		  			approval_status = '반려'
		  		  , complete_date = sysdate
		  		  , complete_no = 'PPIC-230302-' || lpad(seq_cono.nextval, 5, '0')
		  		</when>
		  		<when test="currentOrder + 1 == finalOrder">
		  		    current_order = current_order + 1
		  		  , approval_status = '승인'
		  		  , complete_date = sysdate
		  		  , complete_no = 'PPIC-' || to_char(sysdate, 'YYMMDD') || '-' || lpad(seq_cono.nextval, 5, '0')
		  		</when>
		  		<when test="currentOrder == 0">
		  			current_order = current_order + 1
		  		  , approval_status = '진행중'
		  		</when>
		  		<otherwise>
		  			current_order = current_order + 1
		  		</otherwise>
	  		</choose>
		</set>
		  where approval_no = #{approvalNo}
	</update>
	
	<insert id="insertApproval">
		insert
		  into approval
		  (
		    approval_no
		  , user_no
		  , form
		  , title
		  , create_date
		  , final_order
		  )
		  values
		  (
		    seq_apno.nextval
		  , #{userNo}
		  , #{form}
		  , #{title}
		  , sysdate
		  , #{finalOrder}
		  )
	</insert>
	
	<insert id="insertProcess">
		insert
		  into app_process
		  (
		    approval_no
		  , user_no
		  , process_order
		  , approval_role
		<if test="status == '승인'">
			, status
			, approval_date
		</if>
		<if test="approvalRole == '참조'">
			, approval_date
		</if>
		  )
		  values
		  (
		    seq_apno.currval
		  , #{userName}
		  , #{processOrder}
		  , #{approvalRole}
		<if test="status == '승인'">
			, #{status}
			, sysdate
		</if>
		<if test="approvalRole == '참조'">
			, sysdate
		</if>
		  )
	</insert>
	
	<insert id="insertChange">
		insert
		  into app_change
		  (
		    change_no
		  , approval_no
		  , user_no
		  , content
		  , role
		  )
		  values
		  (
		    seq_chno.nextval
		<choose>
			<when test="approvalNo == 0">
				, seq_apno.currval
			</when>
			<otherwise>
				, #{approvalNo}
			</otherwise>
		</choose>
		  , #{userName}
		  , #{content}
		  , #{role}
		  )
	</insert>
	
	<insert id="insertAppAttachment">
		insert
		  into attachment
		  (
		    attachment_no
		  , origin_name
		  , change_name
		  , category_no
		  , ref_no
		  )
		  values
		  (
		    seq_atno.nextval
		  , #{originName}
		  , #{changeName}
		  , 1
		  , seq_apno.currval
		  )
	</insert>
	
	<insert id="insertDraft">
		insert
		  into form_draft
		  (
		    form_no
		  , approval_no
		  , effective_date
		  , department_no
		  , content
		  )
		  values
		  (
		    seq_fono.nextval
		  , seq_apno.currval
		  , #{effectiveDate}
		  , (
		  	  select department_no
		  	    from dept
		  	   where department_name = #{departmentNo}
		  	)
		  , #{content}
		  )
	</insert>
	
	<insert id="insertTransfer">
		insert
		  into form_transfer
		  (
		    form_no
		  , approval_no
		  , effective_date
		  , user_name
		  , department_name
		  , current_position
		  , promote_position
		  , remark
		  )
		  values
		  (
		    seq_fono.nextval
		  , seq_apno.currval
		  , #{effectiveDate}
		  , #{userName}
		  , #{departmentName}
		  , #{currentPosition}
		  , #{promotePosition}
		  , #{remark}
		  )
	</insert>
	
	<insert id="insertConsume">
		insert
		  into form_consume
		  (
		    form_no
		  , approval_no
		  , name
		  , reason
		  , unit
		  , count
		  , price
		  )
		  values
		  (
		    seq_fono.nextval
		  , seq_apno.currval
		  , #{name}
		  , #{reason}
		  , #{unit}
		  , #{count}
		  , #{price}
		  )
	</insert>
	
	<insert id="insertCash">
		insert
		  into form_cash
		  (
		    form_no
		  , approval_no
		  , account
		  , user_history
		  , price
		  )
		  values
		  (
		    seq_fono.nextval
		  , seq_apno.currval
		  , #{account}
		  , #{userHistory}
		  , #{price}
		  )
	</insert>
</mapper>