<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="approvalMapper">
	<resultMap type="Approval" id="approvalResult">
		<id column="approval_no" property="approvalNo"/>
		<result column="department_name" property="department"/>
		<result column="user_name" property="userName"/>
		<result column="form" property="form"/>
		<result column="title" property="title"/>
		<result column="origin_name" property="originName"/>
		<result column="approval_status" property="approvalStatus"/>
		<result column="current_order" property="currentOrder"/>
		<result column="final_order" property="finalOrder"/>
		<result column="create_date" property="createDate"/>
		<result column="complete_date" property="completeDate"/>
		<result column="complete_no" property="completeNo"/>
		<result column="bookmark" property="bookmark"/>
	</resultMap>
	
	<select id="selectListCount" resultType="_int">
		select count(*)
		  from app_process ap <!-- app_process(결재선)이 기준 -->
		  join approval a using(approval_no)
		<where>
			<if test="dpi == 0 and dpe == 0">
				ap.user_no = #{userNo}
			</if>
			<if test="dpi != 0 or dpe != 0">
				ap.user_no in (
		                       select user_no
		                         from member
		                        where department = #{department} <!-- 나의 부서에 포함된 부서원 조회 -->
		                      )
			</if>
			<if test="myi != 0 or dpi != 0">
				and process_order <![CDATA[<=]]> current_order + 1 <!-- 결재 진행상황 상 현재 순서보다 먼저이거나 같을때만 보여줘야 함 -->
				and approval_status in ('대기', '진행중')
			</if>
			<if test="agr != 0">
				and process_order = current_order + 1 <!-- 결재자의 순서가 본인일 경우 -->
				and approval_status in ('대기', '진행중')
			</if>
			<if test="mye != 0 or dpe != 0">
				and process_order <![CDATA[<=]]> current_order + 1 <!-- 결재 진행상황 상 현재 순서보다 먼저이거나 같을때만 보여줘야 함 -->
				and approval_status in ('승인', '반려')
			</if>
			<if test="myi != 0 or mye != 0 or agr != 0">
				and approval_role != '참조'
			</if>
			<if test="myr != 0">
				and approval_role = '참조'
				and approval_status != '임시저장'
			</if>
			<if test="myb != 0">
				and bookmark = 'Y'
				and approval_status != '임시저장'
			</if>
		</where>
			and a.status = 'Y'
	</select>
	
	<select id="selectList" resultMap="approvalResult">
		select
		       approval_no
		     , user_name
		     , form
		     , title
		     , (
		        select first_value(origin_name) over() <!-- 첨부파일의 유무만 보여주는 용도이므로 다중일 경우를 대비하여 하나만 가져오기 위함 -->
		          from attachment
		         where approval_no = ref_no
		           and category_no = 1
		       ) origin_name
		     , approval_status
		     , current_order
		     , final_order
		     , create_date
		     , complete_date
		     , complete_no
		     , bookmark
		  from app_process ap <!-- app_process(결재선)이 기준 -->
		  join approval a using(approval_no)
		  join member m on (a.user_no = m.user_no)
		<where>
			<if test="dpi == 0">
				ap.user_no = #{userNo}
			</if>
			<if test="dpi != 0">
				ap.user_no in (
		                       select user_no
		                         from member
		                        where department = #{department} <!-- 나의 부서에 포함된 부서원 조회 -->
		                      )
			</if>
			<if test="myi != 0 or dpi != 0">
				and process_order <![CDATA[<=]]> current_order + 1 <!-- 결재 진행상황 상 현재 순서보다 먼저이거나 같을때만 보여줘야 함 -->
				and approval_status in ('대기', '진행중')
			</if>
			<if test="agr != 0">
				and process_order = current_order + 1 <!-- 결재자의 순서가 본인일 경우 -->
				and approval_status in ('대기', '진행중')
			</if>
			<if test="myi != 0 or agr != 0">
				and approval_role != '참조'
			</if>
			<if test="myr != 0">
				and approval_role = '참조'
				and approval_status != '임시저장'
			</if>
			<if test="myb != 0">
				and bookmark = 'Y'
				and approval_status != '임시저장'
			</if>
		</where>
			and a.status = 'Y'
		 order
		    by approval_no desc
	</select>

	<select id="selectEdList" resultMap="approvalResult">
		select
		       approval_no
		     , user_name
		     , form
		     , title
		     , (
		        select first_value(origin_name) over() <!-- 첨부파일의 유무만 보여주는 용도이므로 다중일 경우를 대비하여 하나만 가져오기 위함 -->
		          from attachment
		         where approval_no = ref_no
		           and category_no = 1
		       ) origin_name
		     , approval_status
		     , current_order
		     , final_order
		     , create_date
		     , complete_date
		     , complete_no
		     , bookmark
		  from app_process ap <!-- app_process(결재선)이 기준 -->
		  join approval a using(approval_no)
		  join member m on (a.user_no = m.user_no)
		<where>
			<if test="dpe == 0">
				ap.user_no = #{userNo}
				and approval_role != '참조'
			</if>
			<if test="dpe != 0">
				ap.user_no in (
		                       select user_no
		                         from member
		                        where department = #{department} <!-- 나의 부서에 포함된 부서원 조회 -->
		                      )
			</if>
		</where>
			and approval_status in ('승인', '반려')
			and process_order <![CDATA[<=]]> current_order + 1 <!-- 결재 진행상황 상 현재 순서보다 먼저이거나 같을때만 보여줘야 함 -->
			and a.status = 'Y'
		 order
		    by complete_date desc, complete_no desc
	</select>
	
	<select id="selectTemListCount" resultType="_int">
		select count(*)
		  from approval
		 where user_no = #{userNo}
		   and approval_status = '임시저장'
		   and status = 'Y'
	</select>
	
	<select id="selectTemList" resultMap="approvalResult">
		select
		       approval_no
		     , user_name
		     , form
		     , title
		     , (
		        select first_value(origin_name) over() <!-- 첨부파일의 유무만 보여주는 용도이므로 다중일 경우를 대비하여 하나만 가져오기 위함 -->
		          from attachment
		         where approval_no = ref_no
		           and category_no = 1
		       ) origin_name
		     , approval_status
		     , create_date
		  from approval a
		  join member using(user_no)
		 where user_no = #{userNo}
		   and approval_status = '임시저장'
		   and a.status = 'Y'
		 order
		    by approval_no desc
	</select>
	
	<select id="selectMaListCount" resultType="_int">
		select count(*)
		  from approval
		<where>
			<if test="a != 0">
				status = 'Y'
			</if>
			<if test="d != 0">
				status = 'N'
			</if>
		</where>
			and approval_status != '임시저장'
	</select>
	
	<select id="selectMaList" resultMap="approvalResult">
		select
		       approval_no
		     , department_name
		     , user_name
		     , form
		     , title
		     , (
		        select first_value(origin_name) over() <!-- 첨부파일의 유무만 보여주는 용도이므로 다중일 경우를 대비하여 하나만 가져오기 위함 -->
		          from attachment
		         where approval_no = ref_no
		           and category_no = 1
		       ) origin_name
		     , approval_status
		     , current_order
		     , final_order
		     , create_date
		     , complete_date
		     , complete_no
		  from approval a
		  join dept using(department_no)
		  join member using(user_no)
		<where>
			<if test="a != 0">
				a.status = 'Y'
			</if>
			<if test="d != 0">
				a.status = 'N'
			</if>
		</where>
			and approval_status != '임시저장'
		 order
		    by approval_no desc
	</select>
	
	<update id="updateBook">
		update
	       app_process
		<set>
	  		<if test="bookmark == 0">
	  			bookmark = 'Y'
	  		</if>
	  		<if test="bookmark == 1">
	  			bookmark = null
	  		</if>
		</set>
	 where approval_no = #{approvalNo}
	   and user_no = #{userName}
	</update>
</mapper>