<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="boardMapper">

	<resultMap id="boardResult" type="Board">
		<id column="board_no" property="boardNo"/>
		<result column="board_title" property="boardTitle"/>
		<result column="create_date" property="createDate"/>
		<result column="modify_date" property="modifyDate"/>
		<result column="board_content" property="boardContent"/>
		<result column="count" property="count"/>
		<result column="board_writer" property="boardWriter"/>
		<result column="like_count" property="likeCount"/>
		<result column="hate_count" property="hateCount"/>
	</resultMap>

	<select id="selectListCount" resultType="_int">
		select
		       count(*)
		  from board b
		  join member on(board_writer = user_no)
		 where b.status = 'Y'
		 <if test="userNo != ''">
		   and user_no = #{userNo}
		 </if>
	</select>
	
	<select id="selectList" resultMap="boardResult">
		select
		       board_no
		     , board_title
		     , count
		     , to_char(create_date, 'YYYY-MM-DD') as "create_date"
		     , board_writer
		  from board b
		  join member on(board_writer = user_no)
		 where b.status = 'Y'
		   and blind_sta = 'N'
		   <if test="userNo != ''">
		     and user_no = #{userNo}
		   </if>
		 order
		    by board_no desc
	</select>
	
	<insert id="insertBoard">
		insert
		  into board
		  (
		    board_no
		  , board_writer
		  , board_title
		  , board_content
		  )
		  values
		  (
		    seq_bno.nextval
		  , #{boardWriter}
		  , #{boardTitle}
		  , #{boardContent}
		  )
	</insert>
	
	<update id="increaseCount">
		update 
		       board
		   set count = count + 1
		 where board_no = #{boardNo}
		   and status = 'Y'
	</update>
	
	<select id="selectBoard" resultMap="boardResult">
		select
		       board_no
		     , board_title
		     , board_writer
		     , to_char(create_date, 'YYYY-MM-DD') "create_date"
		     , to_char(modify_date, 'YYYY-MM-DD') "modify_date"
		     , board_content
		     , count
		     , (select 
		               count(*)
		          from likehate
		         where board_no = #{boardNo}
		           and status = 0) "like_count"
		     , (select 
		               count(*)
		          from likehate
		         where board_no = #{boardNo}
		           and status = 1) "hate_count"
		  from board
		 where board_no = #{boardNo}
	</select>
	
	<update id="deleteBoard">
		update 
		       board
		   set status = 'N'
		 where board_no = #{boardNo}
	</update>
	
	<update id="updateBoard">
		update 
		       board
		   set board_title = #{boardTitle}
		     , board_content = #{boardContent}
		     , modify_date = sysdate
		 where board_no = #{boardNo}
	</update>
	
	<select id="selectSearchCount" resultType="_int">
		select
		       count(*)
		  from board b	
		  join member on(board_writer = user_no)
		 where b.status = 'Y'
		   <if test="condition == 'all'">
		   	and board_title like '%' || #{keyword} || '%'
		   	or b.status = 'Y' and board_content 
		   </if>
		   <if test="condition == 'title'">
		   	and board_title 
		   </if>
		   <if test="condition == 'content'">
		  	and board_content 
		   </if>
		   like '%' || #{keyword} || '%'
		   <if test="userNo != ''">
		     and user_no = #{userNo}
		   </if>
	</select>
	
	<select id="selectSearchList" resultMap="boardResult">
  		select 
		       board_no
		     , board_title
		     , count
		     , to_char(create_date, 'YYYY-MM-DD') as "create_date"
		     , board_writer
		  from board b
		  join member on(board_writer = user_no)
		 where b.status = 'Y'
		   <choose>
			   <when test="condition == 'all'">
	          	 and board_title like '%' || #{keyword} || '%'
		   		 or b.status = 'Y' and board_content
	           </when>
	           <when test="condition == 'title'">
	           	 and board_title
	           </when>
	           <otherwise>
	          	 and board_content
	           </otherwise>
           </choose>
           like '%' || #{keyword} || '%'
           <if test="userNo != ''">
		     and user_no = #{userNo}
		   </if>
		 order
		    by board_no desc
  	</select>
</mapper>
