<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="boardMapper">

	<resultMap id="boardResult" type="Board">
		<id column="board_no" property="boardNo"/>
		<result column="board_title" property="boardTitle"/>
		<result column="create_date" property="createDate"/>
		<result column="modify_date" property="modifyDate"/>
		<result column="board_content" property="boardContent"/>
		<result column="count" property="count"/>
		<result column="board_writer" property="boardWriter"/>
		<result column="like_count" property="likeCount"/>
		<result column="hate_count" property="hateCount"/>
		<result column="report_count" property="reportCount"/>
		<result column="likehate_status" property="likehateStatus"/>
	</resultMap>
	
	<resultMap id="reportResult" type="Report">
		<id column="report_no" property="reportNo"/>
		<result column="report_bno" property="reportBno"/>
		<result column="report_mno" property="reportMno"/>
		<result column="report_kind" property="reportKind"/>
		<result column="report_content" property="reportContent"/>
		<result column="report_date" property="reportDate"/>
		<result column="report_sta" property="reportSta"/>
		<result column="board_title" property="boardTitle"/>
	</resultMap>

	<select id="selectListCount" resultType="_int">
		select
		       count(*)
		  from board b
		  join member on(board_writer = user_no)
		 where b.status = 'Y'
		 <if test="userNo != ''">
		   and user_no = #{userNo}
		 </if>
	</select>
	
	<select id="selectList" resultMap="boardResult">
		select
		       board_no
		     , board_title
		     , count
		     , to_char(create_date, 'YYYY-MM-DD') as "create_date"
		     , board_writer
		  from board b
		  join member on(board_writer = user_no)
		 where b.status = 'Y'
		   and blind_sta = 'N'
		   <if test="userNo != ''">
		     and user_no = #{userNo}
		   </if>
		 order
		    by board_no desc
	</select>
	
	<insert id="insertBoard">
		insert
		  into board
		  (
		    board_no
		  , board_writer
		  , board_title
		  , board_content
		  )
		  values
		  (
		    seq_bno.nextval
		  , #{boardWriter}
		  , #{boardTitle}
		  , #{boardContent}
		  )
	</insert>
	
	<update id="increaseCount">
		update 
		       board
		   set count = count + 1
		 where board_no = #{boardNo}
		   and status = 'Y'
	</update>
	
	<select id="selectBoard" resultMap="boardResult">
		select
		       board_no
		     , board_title
		     , board_writer
		     , to_char(create_date, 'YYYY-MM-DD (DY) HH24:MI:SS') "create_date"
		     , to_char(modify_date, 'YYYY-MM-DD (DY) HH24:MI:SS') "modify_date"
		     , board_content
		     , count
		     , (select 
		               count(*)
		          from likehate
		         where board_no = #{boardNo}
		           and status = 0) "like_count"
		     , (select 
		               count(*)
		          from likehate
		         where board_no = #{boardNo}
		           and status = 1) "hate_count"
		     , (select
                       count(*)
                  from report
                 where report_bno = #{boardNo}
                   and report_mno = #{userNo}) "report_count"
              , (select
                        status
                   from likehate
                  where board_no = #{boardNo}    
                    and mem_no = #{userNo}) "likehate_status"
		  from board
		 where board_no = #{boardNo}
	</select>
	
	<update id="deleteBoard">
		update 
		       board
		   set status = 'N'
		 where board_no = #{boardNo}
	</update>
	
	<update id="updateBoard">
		update 
		       board
		   set board_title = #{boardTitle}
		     , board_content = #{boardContent}
		     , modify_date = sysdate
		 where board_no = #{boardNo}
	</update>
	
	<select id="selectSearchCount" resultType="_int">
		select
		       count(*)
		  from board b	
		  join member on(board_writer = user_no)
		 where b.status = 'Y'
		   <if test="condition == 'all'">
		   	and board_title like '%' || #{keyword} || '%'
		   	or b.status = 'Y' and board_content 
		   </if>
		   <if test="condition == 'title'">
		   	and board_title 
		   </if>
		   <if test="condition == 'content'">
		  	and board_content 
		   </if>
		   like '%' || #{keyword} || '%'
		   <if test="userNo != ''">
		     and user_no = #{userNo}
		   </if>
	</select>
	
	<select id="selectSearchList" resultMap="boardResult">
  		select 
		       board_no
		     , board_title
		     , count
		     , to_char(create_date, 'YYYY-MM-DD') as "create_date"
		     , board_writer
		  from board b
		  join member on(board_writer = user_no)
		 where b.status = 'Y'
		   <choose>
			   <when test="condition == 'all'">
	          	 and board_title like '%' || #{keyword} || '%'
		   		 or b.status = 'Y' and board_content
	           </when>
	           <when test="condition == 'title'">
	           	 and board_title
	           </when>
	           <otherwise>
	          	 and board_content
	           </otherwise>
           </choose>
           like '%' || #{keyword} || '%'
           <if test="userNo != ''">
		     and user_no = #{userNo}
		   </if>
		 order
		    by board_no desc
  	</select>
  	
  	<insert id="insertReport">
  		insert 
  		  into report
 		  (
 		    report_no
  		  , report_bno
  		  , report_mno
  		  , report_kind
  		  , report_content
  		  )
  		  values
  		  (
  		    seq_reportno.nextval
  		  , #{reportBno}
  		  , #{reportMno}
  		  , #{reportKind}
  		  , #{reportContent}
  		  )
  	</insert>
  	
  	<select id="selectReportCount" resultType="_int">
  		select
  		       count(*)
  		  from report
  		 where status = 'Y'
  	</select>
  	
  	<select id="selectReportList" resultMap="reportResult">
  		select
  		       report_no
  			 , report_bno
  		     , board_title
  		     , report_kind
  		     , report_content
  		     , to_char(report_date, 'YYYY-MM-DD') "report_date"
             , report_sta
  		  from report r
          join board on(report_bno = board_no)
  		 where r.status='Y'
  		 order
  		    by report_date desc
  	</select>
  	
  	<update id="blindReportUpdate">
  		update
  		       report
  		   set modify_date = sysdate
  		     , report_sta = 
  		   <choose>
  		   	<when test="reportSta == 1">2</when>
  		   	<otherwise>1</otherwise>
  		   </choose>
  		 where report_bno = #{reportBno}
  	</update>
  	
  	<update id="blindBoardUpdate">
  		update
  		       board
  		   set blind_sta = 
  		   <choose>
  		   	<when test="reportSta == 1">'N'</when>
  		   	<otherwise>'Y'</otherwise>
  		   </choose>
  		 where board_no = #{reportBno}
  	</update>
  	
  	<update id="deleteReport">
  		update
  		       report
  		   set status = 'N'
  		     , modify_date = sysdate
  	 	 where report_no in (#{reportNo})
  	</update>
  	
  	<delete id="deleteLike">
  		delete
  		  from likehate
  		 where board_no = #{boardNo}
  		   and mem_no = #{userNo}
  	</delete>
  	
  	<insert id="insertLike">
  		insert
  		  into likehate
  		  (
  		    board_no
  		  , mem_no
  		  , status
  		  )
  		  values
  		  (
  		    #{boardNo}
  		  , #{userNo}
  		  , #{likehateStatus}
  		  )
  	</insert>
</mapper>
