<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="comscheduleMapper">

	<resultMap id="comscheduleResult" type="Comschedule">
		<id column="sch_no" property="schNo"/>
		<result column="sch_kind" property="schKind"/>
		<result column="restday_kind" property="restdayKind"/>
		<result column="sch_name" property="schName"/>
		<result column="sch_content" property="schContent"/>
		<result column="sch_location" property="schLocation"/>
		<result column="lunar_solar" property="lunarSolar"/>
		<result column="start_date" property="startDate"/>
		<result column="end_date" property="endDate"/>
		<result column="annual" property="annual"/>
		<result column="start_time" property="startTime"/>
		<result column="end_time" property="endTime"/>
		<result column="allday" property="allday"/>
		<result column="legalholiday" property="legalholiday"/>
		<result column="start" property="start" />
		<result column="end" property="end" />
		<result column="title" property="title" />
	</resultMap>
	
	<select id="selectComscheduleList" resultMap="comscheduleResult">
		select
		       sch_no
		     , sch_kind
		     , restday_kind
		     , sch_name
		     , sch_content
		     , sch_location
		     , lunar_solar
		     , start_date
		     , end_date
		     , annual
		     , start_time
		     , end_time
		     , allday
		     , legalholiday
		  from company_sch
		 where sch_kind = #{schKind}
		 order
		    by start_date
	</select>

	<insert id="insertSchedule">
		insert 
		  into company_sch
		  (
		    sch_no
		  , sch_kind
		  , restday_kind
		  , sch_name
		  , sch_content
		  , sch_location
		  , lunar_solar
		  , start_date
		  , end_date
		  , annual
		  , start_time
		  , end_time
		  , allday
		  )
		  values
		  (
		    seq_schno.nextval
		  , #{schKind}
		  , #{restdayKind}
		  , #{schName}
		  , #{schContent}
		  , #{schLocation}
		  , #{lunarSolar}
		  , #{startDate}
		  , #{endDate}
		  , <if test="annual == 'on'">
				'Y'
			</if>
			<if test="annual == null">
				'N'
			</if>
		  , #{startTime}
		  , #{endTime}
		  , <if test="allday == 'on'">
				'Y'
			</if>
			<if test="allday == null">
				'N'
			</if>
		  )
	</insert>
	
	<delete id="deleteSchedule">
		delete 
		  from company_sch
		 where sch_no = #{schNo}
	</delete>
	
	<update id="updateSchedule">
		update
		       company_sch
		   set sch_kind = #{schKind}
		     , restday_kind = #{restdayKind}
		     , sch_name = #{schName}
		     , sch_content = #{schContent}
		     , sch_location = #{schLocation}
		     , lunar_solar = #{lunarSolar}
		     , start_date = #{startDate}
		     , end_date = #{endDate}
		     , start_time = #{startTime}
		     , end_time = #{endTime}
		     , annual = <if test="annual == 'on'">
							'Y'
						</if>
						<if test="annual == null">
							'N'
						</if>
			 , allday = <if test="allday == 'on'">
							'Y'
						</if>
						<if test="allday == null">
							'N'
						</if>
		 where sch_no = #{schNo}
	</update>
	
	<select id="scheduleCalendar" resultMap="comscheduleResult">
		select
		       sch_name as "title"
		     , start_date as "start"
		     , end_date as "end"
		     , sch_kind
		  from company_sch
	</select>
</mapper>
