<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="documentMapper">

	<resultMap id="documentResult" type="Document">
		<id column="doc_no" property="docNo" />
		<result column="doc_name" property="docName" />
		<result column="save_path" property="savePath" />
		<result column="origin_name" property="originName" />
		<result column="create_user" property="createUser" />
		<result column="create_date" property="createDate" />
		<result column="modify_date" property="modifyDate" />
	</resultMap>
	
	<!-- 회사문서 리스트 조회 -->
	<select id="selectCommonDocsCount" resultType="_int">
		select 
			   count(*)
		  from document
		 where doc_type = 1
		   and delete_status = 'N'
	</select>
	<select id="selectCommonDocs" resultMap="documentResult">
		select
			   doc_no
			 , doc_name
			 , save_path
			 , origin_name
			 , create_user
			 , to_char(modify_date, 'YY/MM/DD') "modify_date"
		  from document
		 where doc_type = 1
		   and delete_status = 'N'
		 order
		    by doc_no
	</select>
	
	<!-- 회사문서 추가 -->
	<insert id="insertCommonDocs">
		insert
		  into document
		  (
		  	doc_no
		  , doc_type
		  , doc_name
		  , save_path
		  , origin_name
		  , create_user
		  )
		  values
		  (
		  	seq_docno.nextval
		  , #{docType}
		  , #{docName}
		  , #{savePath}
		  , #{originName}
		  , #{createUser}
		  )
	</insert>
	
	<!-- 회사문서 수정 -->
	<update id="updateCommonDocs">
		update
			   document
		   set doc_name = #{docName}
		     , save_path = #{savePath}
		     , origin_name = #{originName}
		     , create_user = #{createUser}
		     , modify_date = sysdate
		 where doc_no = #{docNo}
	</update>

	<!-- 회사문서 삭제 -->
	<update id="deleteCommonDocs">
		update
			   document
		   set modify_date = sysdate
		 	 , delete_status = 'Y'
		 where doc_no = #{docNo}
	</update>
	
	<!-- 내 문서 -->
	<!-- 내 문서 리스트 조회 -->
	<select id="selectMyDocsCount" resultType="_int">
		select 
			   count(*)
		  from document
		 where doc_type = 2
		   and delete_status = 'N'
		   and create_user = #{createUser}
	</select>
	<select id="selectMyDocs" resultMap="documentResult">
		select
			   doc_no
			 , doc_name
			 , save_path
			 , origin_name
			 , create_user
			 , to_char(modify_date, 'YY/MM/DD') "modify_date"
		  from document
		 where doc_type = 2
		   and delete_status = 'N'
		   and create_user = #{createUser}
		 order
		    by doc_no
	</select>
	
	<insert id="insertMyDocs">
		insert
		  into document
		  (
		  	doc_no
		  , doc_type
		  , doc_name
		  , save_path
		  , origin_name
		  , create_user
		  )
		  values
		  (
		  	seq_docno.nextval
		  , #{docType}
		  , #{docName}
		  , #{savePath}
		  , #{originName}
		  , #{createUser}
		  )
	</insert>
	
	<update id="updateMyDocs">
		update
			   document
		   set doc_name = #{docName}
		     , save_path = #{savePath}
		     , origin_name = #{originName}
		     , create_user = #{createUser}
		     , modify_date = sysdate
		 where doc_no = #{docNo}
	</update>
	
	<update id="deleteMyDocs">
		update
			   document
		   set modify_date = sysdate
		 	 , delete_status = 'Y'
		 where doc_no = #{docNo}
	</update>
	
</mapper>