<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="mailMapper">
	
	<resultMap id="mailResult" type="Mail">
		<id column="mail_no" property="mailNo"/>
		<result column="sender" property="sender"/>
		<result column="sender_mail" property="senderMail"/>
		<result column="recipient_mail" property="recipientMail"/>
		<result column="ref_mail" property="refMail"/>
		<result column="hid_ref_mail" property="hidRefMail"/>
		<result column="mail_title" property="mailTitle"/>
		<result column="mail_content" property="mailContent"/>
		<result column="sent_date" property="sentDate"/>
		<result column="temp_status" property="tempStatus"/>

		<result column="important_status" property="importantStatus"/>		
		<result column="read_status" property="readStatus"/>
		<result column="mail_type" property="mailType"/>
		<result column="attachment_status" property="attachmentStatus"/>
	</resultMap>
	
	<resultMap id="mailAttachmentResult" type="MailAttachment">
		<id column="file_no" property="fileNo"/>
		<result column="mail_no" property="mailNo"/>
		<result column="origin_name" property="originName"/>
		<result column="change_name" property="changeName"/>
	</resultMap>
	
	<resultMap id="mailStatusResult" type="MailStatus">
		<result column="mail_no" property="mailNo"/>
		<result column="sender_mail" property="senderMail"/>
		<result column="recipient_mail" property="recipientMail"/>
		<result column="mail_type" property="mailType"/>
		<result column="read_date" property="readDate"/>
		<result column="bin_status" property="binStatus"/>
		<result column="important_status" property="importantStatus"/>
		<result column="delete_date" property="deleteDate"/>
		
		<result column="mail_title" property="mailTitle"/>
		<result column="sent_date" property="sentDate"/>
		<result column="attachment_status" property="attachmentStatus"/>
	</resultMap>
	
	<insert id="sendMail">
		insert
		  into mail
		  (
		    mail_no
		  , sender
		  , sender_mail
		  , recipient_mail
		  , ref_mail
		  , hid_ref_mail
		  , mail_title
		  , mail_content
		  )
		  values
		  (
		    seq_mailno.nextval
		  , #{sender}
		  , #{senderMail}
		  , #{recipientMail}
		  , #{refMail}
		  , #{hidRefMail}
		  , #{mailTitle}
		  , #{mailContent}
		  )
	</insert>
	
	<insert id="sendAttachment">
		insert
		  into mail_attachment
		  (
		    file_no
		  , mail_no
		  , origin_name
		  , change_name
		  )
		  values
		  (
		    seq_mailatno.nextval
		  , seq_mailno.currval
		  , #{originName}
		  , #{changeName}
		  )
	</insert>
	
	<insert id="insertSender">
		insert
		  into mail_status
		  (
		    mail_no
		  , sender_mail
		  , mail_type
		  )
		  values
		  (
		   seq_mailno.currval
		  , #{senderMail}
		  , 4
		  )
		  
	</insert>
	
	<insert id="insertStatus">
		insert
		  into mail_status
		  (
		    mail_no
		  , sender_mail
		  , recipient_mail
		  , mail_type
		  , important_status
		  )
		  values
		  (
		    seq_mailno.currval
		  , #{senderMail}
		  , #{recipientMail}
		  , #{mailType}
		  , #{importantStatus}
		  )
	</insert>
	
	<select id="selectRecieveListCount" resultType="_int">
		select count(*)
		  from mail_status
		 where recipient_mail = #{userMail}
		   and bin_status = 'N'
	</select>
	
	<select id="selectRecieveList" resultMap="mailStatusResult">
		select s.mail_no
		     , s.sender_mail
		     , mail_title
		     , to_char(sent_date, 'yyyy.mm.dd hh24:mi') sent_date
		     , important_status
		     , read_date
		     , mail_type
		     , (
		        select count(*)
		          from mail_attachment 
		         where s.mail_no = mail_no
		        ) attachment_status
		  from mail_status s
		  join mail m on (m.mail_no = s.mail_no)
		 where s.recipient_mail = #{userMail}
		   and bin_status = 'N'
		 order
		    by mail_no desc
	</select>
	
	<select id="selectReadStatus" resultType="_int">
		select count(read_date)
		  from mail_status
		 where recipient_mail = #{recipientMail}
		   and mail_no = #{mailNo}
	</select>
	<update id="updateReadDate">
		update
			   mail_status
		   set read_date = sysdate
		 where mail_no = #{ mailNo }
		   and recipient_mail = #{ recipientMail }
	</update>
	<select id="selectRecieve" resultMap="mailResult">
		 select
		       mail_no
		     , sender_mail
		     , mail_title
		     , recipient_mail
		     , ref_mail
		     , hid_ref_mail
		     , mail_content
		     , to_char(sent_date, 'yy-mm-dd hh24:mi') sent_date
		     , (
		        select important_status
		          from mail_status s
		         where s.mail_no = m.mail_no
		           and recipient_mail = #{recipientMail}
		       ) important_status
		     , (
		        select mail_type
		          from mail_status s
		         where s.mail_no = m.mail_no
		           and recipient_mail = #{recipientMail}
		       ) mail_type
		  from mail m
		 where mail_no = #{mailNo}
	</select>
	<select id="selectAttachmentList" resultMap="mailAttachmentResult">
		select
		       file_no
		     , origin_name
		     , change_name
		  from mail_attachment
		 where mail_no = #{mailNo}
	</select>
	
	<select id="selectSendListCount" resultType="_int">
		select 
			   count(*)
		  from mail_status
		 where sender_mail = #{userMail}
		   and mail_type = 4
		   and bin_status = 'N'
	</select>
	<select id="selectSendList" resultMap="mailStatusResult">
		select s.mail_no
		     , m.recipient_mail
		     , mail_title
		     , to_char(sent_date, 'yyyy.mm.dd hh24:mi') sent_date
		     , important_status
		     , (
		        select count(*)
		          from mail_attachment 
		         where s.mail_no = mail_no
		        ) attachment_status
		  from mail_status s
		  join mail m on (m.mail_no = s.mail_no)
		 where s.sender_mail = #{userMail}
		   and mail_type = 4
		   and bin_status = 'N'
		 order
		    by mail_no desc
	</select>
	<select id="selectSend" resultMap="mailResult">
		select
		       mail_no
		     , sender_mail
		     , mail_title
		     , recipient_mail
		     , ref_mail
		     , hid_ref_mail
		     , mail_content
		     , to_char(sent_date, 'yy-mm-dd hh24:mi') sent_date
		     , (
		        select important_status
		          from mail_status s
		         where s.mail_no = m.mail_no
		           and mail_type = 4
		       ) important_status
		  from mail m
		 where mail_no = #{mailNo}
	</select>
	
	<select id="selectImportantListCount" resultType="_int">
		select 
		       count(*)
		  from mail_status
		 where (sender_mail = #{userMail} and mail_type = 4
		    or recipient_mail = #{userMail})
		   and bin_status = 'N'
		   and important_status = 'Y'
	</select>
	<select id="selectImportantList" resultMap="mailStatusResult">
		select 
		       s.mail_no
		     , mail_type
		     , read_date
		     , s.sender_mail
		     , m.mail_title
		     , m.recipient_mail
		     , to_char(sent_date, 'yyyy.mm.dd hh24:mi') sent_date
		     , important_status
		     , (
		        select count(*)
		          from mail_attachment 
		         where s.mail_no = mail_no
		        ) attachment_status
		  from mail_status s
		  join mail m on (m.mail_no = s.mail_no)
		 where (s.sender_mail = #{userMail} and mail_type = 4
		    or s.recipient_mail = #{userMail})
		   and bin_status = 'N'
		   and important_status = 'Y'
		 order
		    by mail_no desc
	</select>
	
	<update id="deleteImportantStatus">
		update
			   mail_status
		   set important_status = 'N'
		  where (recipient_mail = #{recipientMail}
		     or sender_mail = #{senderMail})
		    and mail_no = #{mailNo}
		    and mail_type = #{mailType}
		    and important_status = 'Y'
	</update>
	<update id="updateImportantStatus">
		update
			   mail_status
		   set important_status = 'Y'
		  where (recipient_mail = #{recipientMail}
		     or sender_mail = #{senderMail})
		    and mail_no = #{mailNo}
		    and mail_type = #{mailType}
		    and important_status = 'N'
	</update>
	
	<update id="deleteMail">
		update
		       mail_status
		   set bin_status = 'Y',
		       delete_date = sysdate + 10
		 where recipient_mail = #{recipientMail}
		   and mail_no = #{mailNo}
	</update>
	
	<update id="updateReadNull">
		update
			   mail_status
		   set read_date = null
		 where mail_no = #{mailNo}
		   and recipient_mail = #{recipientMail}
	</update>
	
	<!-- 필터 -->
	<select id="selectUnreadRecieveListCount" resultType="_int">
		select count(*)
		  from mail_status
		 where recipient_mail = #{userMail}
		   and bin_status = 'N'
		   and read_date is null
	</select>
	<select id="selectUnreadRecieveList" resultMap="mailStatusResult">
		select s.mail_no
		     , s.sender_mail
		     , mail_title
		     , to_char(sent_date, 'yyyy.mm.dd hh24:mi') sent_date
		     , important_status
		     , read_date
		     , mail_type
		     , (
		        select count(*)
		          from mail_attachment 
		         where s.mail_no = mail_no
		        ) attachment_status
		  from mail_status s
		  join mail m on (m.mail_no = s.mail_no)
		 where s.recipient_mail = #{userMail}
		   and bin_status = 'N'
		   and read_date is null
		 order
		    by mail_no desc
	</select>
	<select id="selectImportantRecieveListCount" resultType="_int">
		select 
		       count(*)
		  from mail_status
		 where recipient_mail = #{userMail}
		   and bin_status = 'N'
		   and important_status = 'Y'
	</select>
	<select id="selectImportantRecieveList" resultMap="mailStatusResult">
		select 
		       s.mail_no
		     , mail_type
		     , read_date
		     , s.sender_mail
		     , m.mail_title
		     , m.recipient_mail
		     , to_char(sent_date, 'yyyy.mm.dd hh24:mi') sent_date
		     , important_status
		     , (
		        select count(*)
		          from mail_attachment 
		         where s.mail_no = mail_no
		        ) attachment_status
		  from mail_status s
		  join mail m on (m.mail_no = s.mail_no)
		 where s.recipient_mail = #{userMail}
		   and bin_status = 'N'
		   and important_status = 'Y'
		 order
		    by mail_no desc
	</select>
	<select id="selectToMeRecieveListCount" resultType="_int">
		select 
		       count(*)
		  from mail_status
		 where recipient_mail = #{userMail}
		   and bin_status = 'N'
		   and mail_type = 1
	</select>
	<select id="selectToMeRecieveList" resultMap="mailStatusResult">
		select 
		       s.mail_no
		     , mail_type
		     , read_date
		     , s.sender_mail
		     , m.mail_title
		     , m.recipient_mail
		     , to_char(sent_date, 'yyyy.mm.dd hh24:mi') sent_date
		     , important_status
		     , (
		        select count(*)
		          from mail_attachment 
		         where s.mail_no = mail_no
		        ) attachment_status
		  from mail_status s
		  join mail m on (m.mail_no = s.mail_no)
		 where s.recipient_mail = #{userMail}
		   and bin_status = 'N'
		   and mail_type = 1
		 order
		    by mail_no desc
	</select>
	<select id="selectAtcRecieveListCount" resultType="_int">
		select 
		       count(*)
		  from mail_status s
		 where recipient_mail = #{userMail}
		   and bin_status = 'N'
		   and (
		        select count(*)
		          from mail_attachment
		         where s.mail_no = mail_no
		       ) > 0
	</select>
	<select id="selectAtcRecieveList" resultMap="mailStatusResult">
		select 
		       s.mail_no
		     , mail_type
		     , read_date
		     , s.sender_mail
		     , m.mail_title
		     , m.recipient_mail
		     , to_char(sent_date, 'yyyy.mm.dd hh24:mi') sent_date
		     , important_status
		     , (
		        select count(*)
		          from mail_attachment 
		         where s.mail_no = mail_no
		        ) attachment_status
		  from mail_status s
		  join mail m on (m.mail_no = s.mail_no)
		 where s.recipient_mail = #{userMail}
		   and bin_status = 'N'
		   and (
		        select count(*)
		          from mail_attachment
		         where s.mail_no = mail_no
		       ) > 0
		 order
		    by mail_no desc
	</select>
	
	<delete id="completeDeleteMail">
		delete
		  from mail_status
		 where delete_date - sysdate > 10
	</delete>
	
</mapper>
