<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="memberMapper">

	<resultMap id="memberResult" type="Member">
		<id column="user_no" property="userNo" />
		<result column ="user_name" property="userName" />
		<result column ="position" property="position" />
		<result column ="department" property="department" />
		<result column ="phone" property="phone" />
		<result column ="mail" property="mail" />
		<result column ="hire_date" property="hireDate" />
		<result column ="resign_date" property="resignDate" />
		<result column ="employee_no" property="employeeNo" />
		<result column ="user_id" property="userId" />
		<result column ="user_pwd" property="userPwd" />
		<result column ="address" property="address" />
		<result column ="birthday" property="birthday" />
		<result column ="profile_img" property="profileImg" />
		<result column ="status" property="status" />
		<result column ="authority_no" property="authorityNo" />
		<result column ="member_sign" property="memberSign" />
		<result column ="conn_sta" property="connSta" />
	</resultMap>
	
	<resultMap id="departmentResult" type="Department">
		<id column="department_no" property="departmentNo" />
		<result column="department_name" property="departmentName" />
	</resultMap>
	
	<resultMap id="positionResult" type="Position">
		<id column="position_no" property="positionNo" />
		<result column="position_name" property="positionName" />
	</resultMap>

	<select id="selectListMember" resultMap="memberResult">
		select
		       user_no
		     , user_name
		     , phone
		     , mail
		     , to_char(hire_date, 'YYYY.MM.DD') as "HIRE_DATE"
		     , to_char(resign_date, 'YYYY.MM.DD') as "resign_date"
		     , employee_no
		     , position_name as "POSITION"
		     , department_name as "DEPARTMENT"
		     , profile_img
		  from member
		  join dept on (member.department = dept.department_no) 
		  join position on (member.position = position.position_no)
		 where status='Y'
	</select>
	
	<select id="selectDeptList" resultMap="departmentResult">
		select
			   department_no
			 , department_name
		  from dept
	</select>
	
	<select id="selectMember" resultMap="memberResult">
		select
		       user_name
		     , phone
		     , mail
		     , position_name as "POSITION"
		     , department_name as "DEPARTMENT"
		     , profile_img
		  from member
		  join dept on (member.department = dept.department_no) 
		  join position on (member.position = position.position_no)
		 where status='Y'
		   and user_no = #{userNo}
	</select>
	
	<select id="loginMember" resultMap="memberResult">
		select
			   user_no
		     , user_id
		     , user_pwd
		     , user_name
		     , mail
		     , phone
		     , address
		     , birthday
		     , position
		     , department
		     , employee_no
		     , profile_img
		     , hire_date
		     , resign_date
		     , status
		     , authority_no
		     , conn_sta
		  from member
		 where status = 'Y'
		   and user_id = #{userId}
		   and member_sign = 'Y'
	</select>
	
	<update id="updateProfileImg">
		update 
			   member
		   set profile_img = #{profileImg}
		 where user_id = #{userId}
	</update>
	
	<update id="updateMember">
		update
		       member
		   set user_name = #{userName}
		     , phone = #{phone}
		     , address = #{address}
		 where user_id = #{userId}
	</update>
	
	<select id="idCheck" resultType="_int">
		select
			   count(*)
		  from member
		 where user_id = #{checkId}
	</select>
	
	<select id="selectPositionList" resultMap="positionResult">
		select
			   position_no
			 , position_name
		  from position
	</select>
	
	<insert id="insertMember">
		insert
		  into member
		  (
		  	user_no
		  , user_id
		  , user_pwd
		  , user_name
		  , mail
		  , phone
		  , birthday
		  , position
		  , department
		  , employee_no
		  )
		values
		  (
		  	seq_memno.nextval
		  , #{userId}
		  , #{userPwd}
		  , #{userName}
		  , #{userId} || '@ppic.kr'
		  , #{phone}
		  , #{birthday}
		  , #{position}
		  , #{department}
		  , #{employeeNo}
		  )
	</insert>

</mapper>
