<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="noticeMapper">

	<resultMap id="noticeResult" type="Notice">
		<id column="notice_no" property="noticeNo"/>
		<result column="notice_title" property="noticeTitle"/>
		<result column="create_date" property="createDate"/>
		<result column="user_name" property="noticeWriter"/>
		<result column="profile_img" property="profileImg"/>
		<result column="notice_content" property="noticeContent"/>
		<result column="important" property="important"/>
		<result column="count" property="count"/>
		<result column="attachment_count" property="attachmentCount"/>
		<collection property="attList" resultMap="attachmentResult" />
	</resultMap>
	
	<resultMap id="attachmentResult" type="Attachment">
		<id column="attachment_no" property="attachmentNo"/>
		<result column="origin_name" property="originName"/>
		<result column="change_name" property="changeName"/>
		<result column="category_no" property="categoryNo"/>
	</resultMap>

	<select id="selectListCount" resultType="_int">
		select
		       count(*)
		  from notice
		 where status = 'Y'
	</select>
	
	<select id="selectList" resultMap="noticeResult">
		select
		       notice_no
		     , notice_title
		     , user_name
		     , count
		     , to_char(create_date, 'YYYY-MM-DD') as "create_date"
		     , important
		     , (select 
		               count(*)
		          from attachment
		         where category_no = 2
		           and ref_no = notice_no) "attachment_count"
		  from notice n
          join member on (notice_writer = user_no)
		 where n.status = 'Y'
		 order
		    by important desc, notice_no desc
	</select>
	
	<update id="increaseCount">
		update 
		       notice
		   set count = count + 1
		 where notice_no = #{noticeNo}
		   and status = 'Y'
	</update>
	
	<select id="selectNotice" resultMap="noticeResult">
		select
		       notice_no
		     , notice_title
		     , user_name
		     , profile_img
		     , notice_content
		     , count
		     , to_char(create_date, 'YYYY-MM-DD (DY) HH24:MI:SS') as "create_date"
		     , important
		     , attachment_no
		     , origin_name
		     , change_name
		     , category_no
		     , (select
                       count(*)
                  from attachment
                 where category_no = 2
                   and ref_no = notice_no) "attachment_count"
		  from notice n
          join member on (notice_writer = user_no)
          left join attachment on (notice_no = ref_no)
		 where n.status = 'Y'
		   and notice_no = #{noticeNo}
	</select>
	
	<select id="selectSearchCount" resultType="_int">
		select
		       count(*)
		  from notice n	
		  join member on(notice_writer = user_no)
		 where n.status = 'Y'
		   <if test="condition == 'all'">
		   	and notice_title like '%' || #{keyword} || '%'
		   	or n.status = 'Y' and notice_content like '%' || #{keyword} || '%'
		   	or n.status = 'Y' and user_name 
		   </if>
		   <if test="condition == 'title'">
		   	and notice_title 
		   </if>
		   <if test="condition == 'content'">
		  	and notice_content 
		   </if>
		   <if test="condition == 'writer'">
		  	and user_name 
		   </if>
		   like '%' || #{keyword} || '%'
	</select>
	
	<select id="selectSearchList" resultMap="noticeResult">
  		select 
		       notice_no
		     , notice_title
		     , user_name
		     , count
		     , to_char(create_date, 'YYYY-MM-DD') as "create_date"
		     , important
		     , (select 
		               count(*)
		          from attachment
		         where category_no = 2
		           and ref_no = notice_no) "attachment_count"
		  from notice n
          join member on (notice_writer = user_no)
		 where n.status = 'Y'
		   <if test="condition == 'all'">
		   	and notice_title like '%' || #{keyword} || '%'
		   	or n.status = 'Y' and notice_content like '%' || #{keyword} || '%'
		   	or n.status = 'Y' and user_name 
		   </if>
		   <if test="condition == 'title'">
		   	and notice_title 
		   </if>
		   <if test="condition == 'content'">
		  	and notice_content 
		   </if>
		   <if test="condition == 'writer'">
		  	and user_name 
		   </if>
		   like '%' || #{keyword} || '%'
		 order
		    by important desc, notice_no desc
  	</select>
	
	<insert id="insertNotice">
		insert
		  into notice
		  (
		    notice_no
		  , notice_writer
		  , notice_title
		  , notice_content
		  , important
		  )
		  values
		  (
		    seq_nno.nextval
		  , #{noticeWriter}
		  , #{noticeTitle}
		  , #{noticeContent}
		  , <choose>
  		   	  <when test="important == 'on'">'Y'</when>
  		   	  <otherwise>'N'</otherwise>
  		    </choose>
		  )
	</insert>
	
	<insert id="insertAttachment" parameterType="java.util.List">
		<selectKey keyProperty="no" order="BEFORE" resultType="_int">
			select seq_nno.currval from dual
		</selectKey>
		insert
		  into attachment
		  (
		    attachment_no
		  , origin_name
		  , change_name
		  , category_no
		  , ref_no
		  )
		  select seq_atno.nextval 
		       , at.*
		    from 
		    (
		      <foreach collection="list" item="item" separator="union all">
		      select
		             #{item.originName}
		           , #{item.changeName}
		           , 2
		           , #{no}
		        from dual
		      </foreach>
		    ) at       
	</insert>
	
</mapper>