<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="projectMapper">

<resultMap id="projectResult" type="Project">
	<id column="project_no" property="projectNo"/>
	<result column="project_manager" property="projectManager"/>
	<result column="project_name" property="projectName"/>
	<result column="start_date" property="startDate"/>
	<result column="end_date" property="endDate"/>
	<result column="detail" property="detail"/>
	<result column="create_date" property="createDate"/>
	<result column="modify_date" property="modifyDate"/>
	<result column="delete_status" property="deleteStatus"/>
	<collection property="projectParticipants" resultMap="proParticipantsResult"/>
</resultMap>

<resultMap id="proParticipantsResult" type="ProjectParticipant">
	<result column="project_no" property="projectNo"/>
	<result column="task_no" property="taskNo"/>
	<result column="department_name" property="departmentName"/>
	<result column="user_name" property="userName"/>
</resultMap>

<select id="selectProjectList" resultMap="projectResult">
	select 	
		   project_no
		 , m.user_name "project_manager"
		 , project_name
		 , start_date
		 , end_date
		 , detail
		 , create_date
		 , modify_date
		 , user_name
		 , department_name
      from project pj
      left join p_participant pp using (project_no)
      left join dept d using (department_no)
      join member m on (pj.project_manager = m.user_no)
     where pp.user_no = #{userNo}
       and delete_status = 'N'
     order
        by create_date desc
</select>

<select id="selectProjectParticipants" resultMap="proParticipantsResult">
	select
	        project_no
	      , task_no
	      , d.department_name "department_name"
	      , m.user_name "user_name"
	  from p_participant pp
	  join project p using (project_no)
	  left join member m using (user_no)
	  left join dept d using (department_no)
	 where project_no = #{projectNo}
</select>

</mapper>
