<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="workMapper">

	<resultMap id="holidayResult1" type="Holiday">
		<id column="holiday_no" property="holidayNo" />
		<result column="user_no" property="userNo" />
		<result column ="user_name" property="userName" />
		<result column ="h_type" property="type" />
		<result column ="h_sort" property="sort" />
		<result column ="h_start" property="start" />
		<result column ="h_finish" property="finish" />
		<result column ="h_date" property="datea" />
		<result column ="h_reason" property="reason" />
		<result column ="status" property="status" />
	</resultMap>
	
	<resultMap id="holiResult" type="HolidayApply">
		<id column="holi_no" property="holiNo" />
		<result column="user_no" property="userNo" />
		<result column ="h_give" property="give" />
		<result column ="h_date" property="date" />
		<result column ="h_cause" property="cause" />
		<result column ="h_remain" property="remain" />
	</resultMap>
	
	<resultMap id="holidayResult2" type="Member">
		<id column="user_no" property="userNo" />
		<result column ="user_name" property="userName" />	
		<result column ="give_day" property="giveDay" />
		<result column ="use_day" property="useDay" />
		<result column ="add_day" property="addDay" />
	</resultMap>
	
	<resultMap id="workResult" type="Work">
		<id column="work_no" property="workNo" />
		<result column="user_no" property="userNo" />
		<result column="user_name" property="userName" />
		<result column="work_date" property="workDate" />
		<result column="work_in" property="workIn" />
		<result column="work_out" property="workOut" />
		<result column="work_time" property="workTime" />
		<result column="status" property="status" />
		<result column="behindtime" property="behindtime" />
		<result column="absenteeism" property="absenteeism" />
		<result column="leavearly" property="leavearly" />
		<result column="start" property="start" />
		<result column="title" property="title" />
	</resultMap>
	
	<resultMap id="memberResult" type="Member">
		<id column="user_no" property="userNo" />
		<result column ="user_name" property="userName" />
		<result column ="position" property="position" />
		<result column ="department" property="department" />
		<result column ="phone" property="phone" />
		<result column ="mail" property="mail" />
		<result column ="hire_date" property="hireDate" />
		<result column ="resign_date" property="resignDate" />
		<result column ="employee_no" property="employeeNo" />
		<result column ="user_id" property="userId" />
		<result column ="user_pwd" property="userPwd" />
		<result column ="address" property="address" />
		<result column ="birthday" property="birthday" />
		<result column ="profile_img" property="profileImg" />
		<result column ="status" property="status" />
		<result column ="authority_no" property="authorityNo" />
		<result column ="member_sign" property="memberSign" />
		<result column ="position_no" property="positionNo" />
		<result column ="department_no" property="departmentNo" />
		<result column="behindtime" property="behindtime" />
		<result column="absenteeism" property="absenteeism" />
		<result column="leavearly" property="leavearly" />
		<result column="work_time" property="workTime" />
		<result column="work_count" property="workCount" />
	</resultMap>

	<select id="selectHolidayList" resultMap="holidayResult2" >
		SELECT T1.USER_NO 
		     , T1.USER_NAME
		     , SUM ( CASE WHEN T2.H_CAUSE = '연차지급' THEN T2.H_GIVE ELSE 0 END ) AS GIVE_DAY
		     , SUM ( CASE WHEN T2.H_CAUSE = '연차사용' THEN T2.H_GIVE ELSE 0 END ) AS USE_DAY
		     , SUM ( CASE WHEN T2.H_CAUSE = '추가지급' THEN T2.H_GIVE ELSE 0 END ) AS ADD_DAY
		  FROM MEMBER T1
		  LEFT OUTER JOIN HOLIDAY T2  
		    ON T1.USER_NO = T2.USER_NO
		 GROUP BY T1.USER_NO  
		       , T1.USER_NAME 
		 ORDER BY T1.USER_NO ASC
	</select>
	
	<select id="selectHolidayUseList" resultMap="holidayResult1" >
		SELECT 
		       HOLIDAY_NO
		     , H.USER_NO
		     , USER_NAME
		     , H_TYPE
		     , H_SORT
		     , H_START
		     , H_FINISH
		     , H_DATE
		     , H_REASON
		     , H.STATUS
		  FROM HOLIDAY_APPLY H
		  join member on (member.user_no = h.user_no)
	</select>
	
	<select id="selectBeforeUseList" resultMap="holidayResult1" >
		select 
		       holiday_no
		     , T1.user_no
		     , user_name
		     , h_type
		     , h_sort
		     , h_start
		     , h_finish
		     , h_date
		     , h_reason
		     , T1.status
		  from holiday_apply T1
		  join member T2 on (T1.user_no = T2.user_no)
		 where T1.status='승인대기'
	</select>
	
	<insert id="completeWorkInsert">
		Insert 
		  into work 
		     ( work_no
		     , user_no
		     , work_date
		     , work_in
		     , work_out
		     , work_time
		     , status 
		     )
		select seq_wno.nextval
			 , m.user_no
			 , sysdate
			 , null
			 , null
			 , null
			 , '결근'
		  from member m
		 where m.status ='Y'
	</insert>
	
	<select id="selectWorkRecor" resultMap="workResult">
		select 
		       work_no
		     , user_name
		     , to_char(work_date, 'YYYY"년"MM"월"DD"일"' ) as work_date
		     , to_char(work_in, 'hh24:MI') as work_in
		     , to_char(work_out,'hh24:MI') as work_out
		     , work_time
		     , w.status
		  from work w
		  join member m on (w.user_no = m.user_no)
		  where w.user_no = #{userNo}
		    AND to_char( work_date, 'yyyymmdd' ) = to_char( sysdate, 'yyyymmdd')
	</select>
	
	<update id="updateWorkIn">
		update 
		       work
		   set work_in = sysdate
		     , status = '정상'
		 where USER_NO = #{userNo}
		   AND to_char( work_date, 'yyyymmdd' ) = to_char( sysdate, 'yyyymmdd')
	</update>
	
	<update id="updateWorkInLate">
		update 
		       work
		   set work_in = sysdate
		   	 , status = '지각'
		 where USER_NO = #{userNo}
		   AND to_char( work_date, 'yyyymmdd' ) = to_char( sysdate, 'yyyymmdd')
	</update>
	
	
	<update id="updateWorkOut">
		update 
		       work
		   set work_out = sysdate
		 where  USER_NO = #{userNo}
		  AND to_char( work_date, 'yyyymmdd' ) = to_char( sysdate, 'yyyymmdd')
	</update>
	<update id="updateWorkOutEarly">
		update 
		       work
		   set work_out = sysdate
		   	 , status = '조퇴'
		 where  USER_NO = #{userNo}
		  AND to_char( work_date, 'yyyymmdd' ) = to_char( sysdate, 'yyyymmdd')
	</update>
	
	<update id="updateWorkTime">
		update 
		       work
		   set work_time = (select 
		                           ROUND(((work_out-work_in)*24)-1) 
		                      FROM work 
		                     where  USER_NO = #{userNo}
		                     AND to_char( work_date, 'yyyymmdd' ) = to_char( sysdate, 'yyyymmdd'))
		 where  USER_NO =#{userNo}
		  AND to_char( work_date, 'yyyymmdd' ) = to_char( sysdate, 'yyyymmdd')
	</update>
	
	<update id="updateConnSta">
		update 
		       member
		   set conn_sta = #{connSta}
		 where user_no = #{userNo}
	</update>
	
	<select id="selectMemberHoliday" resultMap="holidayResult2">
		SELECT T1.USER_NO  
		     , T1.USER_NAME 
		     , SUM ( CASE WHEN T2.H_CAUSE = '연차지급' THEN T2.H_GIVE ELSE 0 END ) AS GIVE_DAY
		     , SUM ( CASE WHEN T2.H_CAUSE = '연차사용' THEN T2.H_GIVE ELSE 0 END ) AS USE_DAY
		     , SUM ( CASE WHEN T2.H_CAUSE = '추가지급' THEN T2.H_GIVE ELSE 0 END ) AS ADD_DAY
		  FROM MEMBER T1
		  LEFT OUTER JOIN HOLIDAY T2  
		    ON T1.USER_NO = T2.USER_NO
		 WHERE T1.USER_NO= #{userNo}
		 GROUP BY T1.USER_NO  
		       , T1.USER_NAME
	</select>
	
	<select id="selectMemberHolidayList" resultMap="holidayResult1">
		select
			   user_no
		     , holiday_no
		     , h_type
		     , h_sort
		     , h_start
		     , h_finish
		     , status
		  from holiday_apply
		 where user_no= #{userNo}
		 order
			by holiday_no desc
	</select>
	
	<insert id="holiApplyEnroll">
		insert 
		  into holiday_apply
		     ( holiday_no
		     , user_no
		     , h_type
		     , h_sort
		     , h_start
		     , h_finish
		     , h_date
		     , h_reason
		     ) 
		 values
		      ( SEQ_HANO.nextval
		      , #{userNo}
		      , #{type}
		      , #{sort}
		      , #{start}
		      , #{finish}
		      , #{datea}
		      , #{reason}
		      )
	</insert>
	
	<select id="selectHoliList" resultMap="holidayResult1">
		select
		       holiday_no
		     , h_type
		     , h_sort
		     , h_start
		     , h_finish
		     , status
		  from holiday_apply
		 where user_no=#{userNo}
		   and status='승인대기'
		 order
			by holiday_no desc
	</select>
	
	<delete id="holidayApplyDelete" >
		delete 
		  from holiday_apply
		 where holiday_no = #{holidayNo}
	</delete>
	
	<update id="holidayApprove">
		update holiday_apply
		   set status = #{status}
		 where holiday_no = #{holidayNo}
	</update>
	
	<insert id="holidayInsert">
		insert 
		  into holiday
		     ( holi_no
		     , user_no
		     , h_give
		     , h_date
		     , h_cause
		     , h_remain
		     )
		values
			 ( SEQ_HNO.nextval
			 , #{userNo}
			 , -#{datea}
			 , sysdate
			 , #{cause}
			 , null
  )
	</insert>
	
	<insert id="holidayGive">
		insert 
		  into holiday
		     ( holi_no
		     , user_no
		     , h_give
		     , h_date
		     , h_cause
		     , h_remain
		     )
		  values
		  ( SEQ_HNO.nextval
		  , #{userNo}
		  , #{datea}
		  , sysdate
		  , #{cause}
		  , null
		  )
	</insert>
	
	<select id="selectMemberWorkList" resultMap="workResult">
	select work_no
	     , user_no
	     , to_char(work_date, 'MM"월"DD"일"') as work_date
     	 , to_char(work_in, 'hh24:MI') as work_in
     	 , to_char(work_out,'hh24:MI') as work_out
	     , work_time
	     , status
	  from work
	 where user_no=#{userNo}
	 order
	    by work_no desc
	</select>
	
	<select id="countWorkStatus" resultMap="workResult">
		select 
		       COUNT( CASE WHEN STATUS ='결근'  then 1 end ) AS "absenteeism"
		     , COUNT( CASE WHEN STATUS ='조퇴'  then 1 end ) AS "leavearly"
		     , COUNT( CASE WHEN STATUS ='지각'  then 1 end ) AS "behindtime"
		  FROM WORK
		 WHERE USER_NO=#{userNo}
		 AND SUBSTR(WORK_DATE,0,8) BETWEEN (TO_CHAR(TRUNC(SYSDATE,'MM'),'YY/MM/DD') ) AND (LAST_DAY(SYSDATE))
	</select>
	
	<select id="workCalendar" resultMap="workResult">
		select
		        to_char(work_date, 'YYYY-MM-DD') as "start"
     			, to_char(work_in, 'hh24:MI') as "title"
		  from work 
		 where user_no=#{userNo}
	</select>
	<select id="workCalendarOut" resultMap="workResult">
		select
		        to_char(work_date, 'YYYY-MM-DD') as "start"
     			, to_char(work_out, 'hh24:MI') as "title"
		  from work 
		 where user_no=#{userNo}
	</select>
	
	<select id="selectAllMember" resultMap="memberResult">
		select
		       user_no
		     , user_name
		     , phone
		     , mail
		     , to_char(hire_date, 'YYYY.MM.DD') as "HIRE_DATE"
		     , to_char(resign_date, 'YYYY.MM.DD') as "resign_date"
		     , employee_no
		     , position_name as "POSITION"
		     , department_name as "DEPARTMENT"
		     , profile_img
		     , status
		  from member
		  join dept on (member.department = dept.department_no) 
		  join position on (member.position = position.position_no)
		  order
		 	by user_no
	</select>
	
	<select id="selectWorkCountList" resultMap="memberResult">
		select 
		       m.user_name
		     , m.user_no
		     , COUNT( CASE WHEN w.STATUS ='결근'  then 1 end ) AS "absenteeism"
		     , COUNT( CASE WHEN w.STATUS ='조퇴'  then 1 end ) AS "leavearly"
		     , COUNT( CASE WHEN w.STATUS ='지각'  then 1 end ) AS "behindtime"
		  FROM member m
		  join work w on (w.user_no = m.user_no)
		 WHERE SUBSTR(WORK_DATE,0,8) BETWEEN (TO_CHAR(TRUNC(SYSDATE,'YY'),'YY/MM/DD') ) AND (LAST_DAY(SYSDATE))
		 group
		    by m.user_name, m.user_no
		 order by user_no
	</select>
	
	<select id="selectTimeCountList" resultMap="memberResult">
		select 
		       m.user_name
		     , m.user_no 
		     , SUM(w.WORK_TIME) as "work_time"
		     , count(w.work_time) as "work_count"
		  FROM member m
		  join work w on (w.user_no = m.user_no)
		 WHERE SUBSTR(WORK_DATE,0,8) BETWEEN (TO_CHAR(TRUNC(SYSDATE,'YY'),'YY/MM/DD') ) AND (LAST_DAY(SYSDATE))
		 group
		    by m.user_name, m.user_no
		 order by user_no ASC
	</select>
</mapper>